*{
	padding:0px;
	margin:0px auto;
	box-sizing: border-box;/*保证盒子的宽度不超出，没有滚动条*/
}

.container{
	width:100%;
	height:100%;
	max-width:640px;
	min-width:300px;
	/* border: 1px solid red; */
	position: relative;
}


body{
	font-size: 18px;
	font-family: "宋体";
	color:#333333;
}

a{
	text-decoration: none;
	color: #333333;
}

a:hover{
	text-decoration: none;
}

ul,ol{
	list-style: none;
}


.clearfix::before,
.clearfix::after{
	clear: both;
	height: 0px;
	content: "";
	line-height: 0px;
	display: block;
	visibility: hidden;
}

footer{
	position:fixed;
	width:640px;
	height:55px;
	bottom: 5px;
	background-color: #fff;
	
	/* border:1px solid red; */

}

footer>a{
	float: left;
	width: 20%;
	height: 50px;
	text-align: center;
	/* border:1px solid; */
	font-size: 14px;
	display: block;
}

.footer-a{
	width: 30px;
	height: 35px;
	/* border:1px solid; */
	display: block;
	padding-bottom:5px;
	padding-top: 5px;
}

.img2{
	width: 50px;
	height: 50px;
	line-height:50px;
	padding-top: 5px;
}