*{
	padding:0px;
	margin:0px auto;
	box-sizing:border-box;
}
.container{
	width:100%;
	height:920px;
	background:#D6EAF3;
}
.container_con{
	width:86%;
	height:100%;
	min-height:920px;
	padding-top:3%;
	/* border:2px solid #C6E7F8; */
}
.top{
	width:100%;
	height:115px;
	padding-top:15px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background:url("../images/bg1.jpg") no-repeat;
	background-size:100% 100%;
	box-shadow:4px 5px 3px #888888;
	border-left:1px solid #90B8D1;
}
.top > img{
	width:35%;
	height:85%;
	display:block;
	float:left;
	margin-left:1%;
	/* border:1px solid; */
}
.top > h2{
	display:inline-block;
	float:left;
	width:30%;
	height:100%;
	text-align:center;
	line-height:100px;
	letter-spacing:2px;
	font-size:35px;
	font-family:'kaiti';
	/* border:1px solid; */
}
.top > a{
	display:inline-block;
	float: right;
	width:6%;
	height:72%;
	line-height:110px;
	text-align:center;
	margin-right:20px;
	letter-spacing:2px;
	text-decoration:none;
	color:#000000;
	/* border:1px solid red; */
}
.top > a:hover{
	color:red;
	font-weight:bold;
	border-bottom:2px solid red;
}
.content{
	float:left;
	width:100%;
	height:638px;
	box-shadow:4px 5px 3px #888888;
	border-left:1px solid #90B8D1;
	/* background:pink; */
}
.content_box1{
	float:left;
	width:100%;
	height:50px;
	padding-left:2%;
	border-bottom:1px solid #C6E7F8;
	background:#EFFDFE;
}
.content_box1 form{
	width:85%;
	height:100%;
}
.content_box1 form .date{
	width:18%;
	height:100%;
	float:left;
	/* border:1px solid; */
}
.content_box1 form .date span,.content_box1 form .jieci span{
	display:inline-block;
	height:100%;
	line-height:50px;
	font-size:17px;
	font-family:'songti';
}
.content_box1 form .date select,.content_box1 form .jieci select{
	width:60%;
	height:26px;
	/* border:1px solid; */
}
.content_box1 form .jieci{
	float:left;
	width:18%;
	height:100%;
	/* border:1px solid; */
}
.banzhang{
	float:left;
	width:15%;
	height:100%;
	margin-left:3%;
	line-height:50px;
	/* border:1px solid blue; */
}
.banzhang > span,.classname > span{
	display:inline-block;
	width:33%;
	float:left;
	height:100%;
	font-size:17px;
	overflow:hidden;
	/* border:1px solid; */
}
.classname{
	float:left;
	width:15%;
	height:100%;
	line-height:50px;
	font-size:17px;
	/* border:1px solid red; */
}
.bz{
	display:inline-block;
	float:left;
	width:60%;
	height:100%;
	text-decoration:none;
	color:#000000;
	font-size:17px;
	/* border:1px solid green; */
}
.content_box1 form button{
	display:block;
	float:right;
	width:11%;
	height:75%;
	margin-top:0.7%;
	background:#39B9F0;
	border:0px;
	border-radius:7px;
	color:#ffffff;
	font-size:17px;
	cursor:pointer;
	letter-spacing:2px;
	text-align:center;
}
.content_box1 form button:hover{
	background:#3195C4;
	color:#ffffff;

}
.content_box2{
	float:left;
	width:100%;
	height:588px;
	padding-top:20px;
	overflow:hidden;
	background:#F7FFFF;
}
.content_box2 form{
	width:100%;
	height:100%;
}
.content_box2_left{
	float:left;
	width:23%;
	height:90%;
	padding-top:10px;
	background:#E8EAEA;
}
.content_box2_left ul{
	width:98%;
	height:100%;
	list-style:none;
	/* border:1px solid; */
}
.content_box2_left ul li{
	width:44%;
	height:50px;
	line-height:50px;
	text-align:center;
	float:left;
	margin:6px 7px;
	color:#ffffff;
	background:#399BEA;
	border-radius:7px;
	box-shadow:4px 5px 3px #888888;
}
.content_box2_center{
	float:left;
	width:46%;
	height:90%;
	padding-top:10px;
	overflow:hidden;
	background:#E8EAEA;
}
.content_box2_center ul{
	width:98%;
	height:100%;
	list-style:none;
}
.content_box2_center ul li{
	width:22.5%;
	height:50px;
	line-height:50px;
	text-align:center;
	float:left;
	margin:6px 6px;
	color:#ffffff;
	background:#399BEA;
	border-radius:7px;
	box-shadow:4px 5px 3px #888888;
}
.passroad{
	float:left;
	width:4%;
	height:90%;
	background:#F7FFFF;
}
.passroad span{
	display:block;
	width:50%;
	height:100%;
	line-height:80px;
	font-size:22px;
	margin:180px auto;
	text-align:center;
}
#kctime,#kaoqin,#stu_id{
	display:none;
}
.teacher_desk{
	float:left;
	width:100%;
	height:57px;
	line-height:57px;
	text-align:center;
	background:#F7FFFF;
	/* border:1px solid; */
}
.teacher_desk span{
	display:inline-block;
	width:12%;
	height:40px;
	line-height:40px;
	background:yellow;
	color:#000000;
	letter-spacing:2px;
	font-weight:bold;
	font-size:16px;
	border-radius:8px;
}

/* 弹框样式 */
.showDiv{
	width:580px;
	height:455px;
	position:fixed;
	z-index:1;
	top:200px;
	left:350px;
	background:url("../images/bg9.jpg");
	background-size:100% 100%;
	padding:15px 20px;
	border-radius:15px;
	border:1px solid #A1CEE5;
}
.showDiv > p{
	width:100%;
	height:35px;
	margin-bottom:3px;
	/* border:1px solid red; */
}
.showDiv > p > span{
	display:block;
	float:left;
	width:50%;
	height:35px;
	padding:0px 5px;
	font-size:23px;
	font-weight:normal;
	/* border:1px solid red; */
}
.showDiv > p > a{
	display:inline-block;
	width:35px;
	height:35px;
	float:right;
	font-weight:bold;
	text-decoration:none;
	/* border:1px solid; */
}
.showDiv > p > a:hover{
	color:red;
}
#showDiv{
	display:none;
}
.closebtn{
	display:block;
	text-decoration:none;
	float:right;
	width:30px;
	height:30px;
	line-height:25px;
	text-align:center;
	font-size:25px;
	color:#000000;
}
form{
	float:left;
	width:100%;
	height:395px;
	/* border:1px solid; */
}
.formContent{
	width:100%;
	height:345px;
	padding:0px 5px;
	border:1px solid #999999;
}
.formContent > p{
	display:inline-block;
	width:100%;
	height:40px;
	line-height:36px;
	margin-bottom:3px;
	border-bottom:1px dashed #666666;
}
.formContent > p > label{
	display:block;
	float:left;
	height:100%;
	margin-right:10px;
	font-size:16px;
}
#Text{
	display:block;
	float:left;
	width:20%;
	height:38px;
	line-height:38px;
	font-weight:bold;
	font-size:16px;
	color:#F23E50;
	/* border:1px solid red; */
}
#Time{
	display:block;
	float:left;
	width:23%;
	height:38px;
	line-height:38px;
	font-weight:bold;
	font-size:16px;
	color:#F23E50;
}
.formfooter span input[type="text"]{
	width:70px;
	height:30px;
	padding-left:10px;
	border-radius:4px;
	border:1px solid #999999;
	/* border:1px solid; */
}
.formContent > p > span:last-child{
	display:inline-block;
	float:left;
	width:280px;
	height:38px;
	line-height:35px;
	font-size:15px;
	color:#000000;
	font-weight:bold;
	/* border:1px solid blue; */
}
#input1,#input2,#input3{
	width:120px;
	height:30px;
	float:right;
	display:none;
}
#Score{
	width:100%;
	height:80px;
	position:relative;
	z-index:888;
	/* border:1px solid red; */
}
#Score > label{
	display:block;
	float:left;
	height:100%;
	margin-right:10px;
}
#Score > ul{
	list-style:none;
	float:left;
	height:28px;
	margin-left:40px;
	/* border:1px solid; */
}
#Score > ul > li{
	float:left;
	width:26px;
	cursor:pointer;
	text-indent:-8888px;
	background:url("../images/star.png") no-repeat;
	padding:2px;
	/* border:1px solid red; */
}
#Score strong{
	color:red;
	padding-left:10px;
}
#Score > ul > li.on{
	background-position:0 -28px;
}
#Score > p{
	position:absolute;
	top:20px;
	width:150px;
	height:55px;
	display:none;
	background:url("../images/icon.gif") no-repeat;
	background-size:100% 100%;
	padding:7px 8px 0px;
	font-size:13px;
	/* border:1px solid blue; */
}
#Score > p > em{
	color:red;
	display:block;
	font-style:normal;
}
#pingfen{
	text-decoration:none;
}
.textarea{
	width:100%;
	height:210px;
	padding-top:0px;
	opacity:0.8;
	/* border:1px solid green; */
}
.textarea > textarea{
	padding:5px 10px;
	width:100%;
	height:91%;
}
.formfooter{
	margin-bottom:0px;
	width:100%;
	height:40px;
	padding-top:10px;
}
#submit{
	float:right;
	width:90px;
	height:35px;
	border:0px;
	margin-right:10px;
	border-radius:7px;
	background-color:#6499d2;
	color:#ffffff;
}
/* 旷课框 */
.kuangke{
	width:40%;
	height:430px;
	padding:5% auto;
	position:fixed;
	right:-36%;
	top:30%;
}
.kuangke_left{
	width:10%;
	height:300px;
	float:left;
}
#kuangke_tit{
	display:inline-block;
	width:100%;
	height:18%;
	line-height:60px;
	text-align:center;
	text-decoration:none;
	font-size:18px;
	color:#ffffff;
	margin-top:100%;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	background:#5D5A5A;
}
.kuangke_right{
	width:90%;
	height:100%;
	float:left;
	background:url("../images/bg9.jpg");
	background-size:100% 100%;
	border:1px solid #A1CEE5;
	border-radius:15px;
}
.kuangke_right h2{
	display:inline-block;
	width:100%;
	font-size:25px;
	text-align:center;
	font-family:"kaiti";
	margin-top:2.5%;
	/* border:1px solid; */
}
.kuangke_right form{
	width:90%;
	height:80%;
	margin:5%;
	border-radius:10px;
	border:1px solid #888888;
	margin-top: 2%;
}
.kuangke_right form p{
	height:12%;
	font-size:16px;
	padding-left:4%;
	margin-top: 5px;
	/* border:1px solid; */
}
.kuangke_right form p input{
	width:40%;
	height:60%;
	margin-left:1.2%;
	border:1px solid #888888;
	border-radius:6px;
}
.kuangke_right form p select{
	width:30%;
	height:76%;
	margin-right:3%;
}
.kuangke_right form p button{
	margin-left:35%;
	width:90px;
	height:35px;
	border:0px;
	border-radius:7px;
	background-color:#6499d2;
	color:#ffffff;
	
}
.footer{
	float:left;
	width:100%;
	height:60px;
	border-bottom:1px solid #C6E7F8;
	background:#E0EAEC;
	box-shadow:4px 5px 3px #888888;
	border-left:1px solid #90B8D1;
}
.footer p{
	width:100%;
	height:100%;
	text-align:center;
	font-size:16px;
	line-height:60px;
	letter-spacing:1.2px;
}

input{
	background: #EFFDFE;
	border: none;
	font-size: 20px;
	color: #000;
	font-family: '楷体';
	width: 100px;
}

