*{
	margin:0 auto;
	padding: 0;
}
body {
	color: #11449E;
	background-image: url(../images/bg2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow-x: hidden;
}
ul li {
	list-style: none;
}
a {
	text-decoration: none;
}
section{
	min-width: 400px;
	background: #eee;

}
.right,.left{
	float: left;
	height:100%;
	min-height: 200px;

}
.left{
	width: 368px;
	margin-left: -100%; 
	background: lightblue;
}
.right{
	width:100%;
	
}
.content{
	margin-left:368px;
	
}

/*      考勤板块      */
.cmain{
	/* border: 1px solid; */
	width:100%;
	position: absolute;
	top:60px;
	bottom:0;
	/* overflow-x: hidden; */
	margin-left:-368px;

	
}
.cccc{
	height:900px;

}
/*   考勤板块中的头部导航-选择查询    */
.nav{
	width: 100%; 
	height: 50px;
	background: #C7DEFC url(../images/nav_bg.gif) repeat-x left top;
}
	.class,.week {	
		text-align: center;
		line-height: 50px;
		font-size: 1em;
		margin-left: 1%;
		float: left;
		/* border: 1px solid; */
	}
	.class {
		width: 10em;
		height: 50px;
	}
	.class1 {
		margin-left: 2%;
	}
	.class select {
		width: 60%;
		height: 30px;
	}
	.week {
		width: 15%;

		height: 50px;
	}
	.week select {
		width: 36%;
		height: 30px;
		
	}
	.weeks {
		margin-left: 1%;
	}
	
	.week #classId,.week #zhuanyeId, {
		width: 40%;
		height: 30px;
	}
	.button {
		width: 10%;
		height: 50px;
		line-height: 50px;
		float: left;
		margin-left: 4%;
	}
	.button input {
		width: 100%;
		height: 40px;
		color: #11449E;
		margin-right: 5%;
		border-radius: 5px;
		font-size: 1em;
		font-weight: 600;
		background: #B9D3EE;
	}
/* 考勤情况 */
#kaoqin {
	width: 100%;
	/* display: block; */
}
	/* .active {
		display: none;
	} */
	#kaoqin .box {
		width: 50%;
		height: 400px;
		margin: 100px auto; 
		background: #ccc;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		/* background: url(../images/con_topleft.gif) repeat left top; */
		background: #C6E2FF;
		/* display: none; */
	}

	.box h3 {
		width: 100%;
		height: 30px;
		font-size: 1em;
		line-height: 30px;
		text-indent: 1em;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background: #fff url(../images/nav_bg.gif) repeat-x left top;
		
	}
	.box-main {
		width: 90%;
		margin-top: 25px; 
	}
	.box-main p {
		line-height: 30px;
		margin-bottom: 20px;
	}
	.box-main p input {
		width: 40%;
		height: 30px;
		margin-left: 6%;
	}

#btn{
	width: 100px;
	height: 35px;
	text-align: center;
	background: #5ABCF2;
	border:1px solid #0AA9DC;
	border-radius: 10px;
	position: relative;
	left: -30px;
}

.center{
	width: 60%;
	height: 350px;
	border: 1px solid;
	border-radius: 10px;
	font-size: 16px;
	margin-top: 30px;
	background: #fff;
}

.bg{
	display: none;
}

.center ul{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background:#107CDF;
	border-radius: 10px 10px 0px 0px;

}

.center li{
	float: left;
	width: 25%;
	height: 100%;
	/* border: 1px solid; */
	text-align: left;
	color:#fff;
	text-align: center;

}



.center p{
	width: 90%;
	height: 50px;
	border-bottom: 1px solid;
	margin-top:5px;
	line-height:50px;
}

.center p>a{
	margin-left:5px;
}